@media screen and (orientation:landscape) {
  .main-name {
    font-size: 62px;
  }
}

@media screen and (orientation:portrait) {
  .main-name {
    font-size: 33px;
  }
}

@media screen and (orientation:landscape) {
  .main-details {
    font-size: 18px;
  }
}

@media screen and (orientation:portrait) {
  .main-details {
    font-size: 10px;
  }
}

@media screen and (orientation:landscape) {
  .resume-download {
    font-size: 24px;
    color: rgb(0,0,0);
    box-shadow: 0px 0px 10px 6px rgb(12,35,48);
    padding-right: 10px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-width: 5px;
    border-color: rgb(255,255,255);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 2.5px;
    padding-bottom: 5px;
  }
}

@media screen and (orientation:portrait) {
  .resume-download {
    font-size: 12px;
    color: rgb(0,0,0);
    box-shadow: 0px 0px 10px 6px rgb(12,35,48);
    padding-right: 10px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-width: 5px;
    border-color: rgb(255,255,255);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 2.5px;
    padding-bottom: 5px;
  }
}

@media screen and (orientation:landscape) {
  .detail-social-link {
    border-width: 5px;
    border-color: rgb(255,255,255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 6px rgb(12,35,48);
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (orientation:portrait) {
  .detail-social-link {
    font-size: 20px;
    border-width: 5px;
    border-color: rgb(255,255,255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 6px rgb(12,35,48);
    padding-right: 10px;
    padding-left: 10px;
  }
}

